.site-documents-area {
    padding: 150px 0 100px;
}

.privacy__item {
    margin-bottom: 30px;
}
.privacy__wrapper h3 {
    font-weight: 300;
}

.privacy__item p {
    color: #fff;
    opacity: 0.5;
    font-size: 1.2rem !important;
}

.privacy__item ul {
    padding-left: 15px;
}

.privacy__item ul li {
    color: #fff;
    opacity: 0.5;
}

.privacy__title {
    font-size: 24px;
    color: #fff;
}

.pb-90 {
    padding-bottom: 90px;
}

.pt-110 {
    padding-top: 110px;
}

.mt-20 {
    margin-top: 20px;
}

.mb-2 {
    margin-bottom: 0.5rem !important;
}

.mt-5 {
    margin-top: 3rem !important;
}

.text-base {
    color: #565D6D;
}

.text-2xl {
    font-size: 1.8rem !important;
}

.font-bold {
    font-weight: 200;
}

p:last-child {
    margin: 0;
}