.site-documents-area{
    padding: 150px 0 100px;
}

/* .site-documents-area a{
    color: var(--secondary-clr);
}

.site-documents-area h1{
    margin-bottom: 30px;
}

.site-documents-area h4{
    margin-top: 20px;
    margin-bottom: 25px;
}

.site-documents-area p{
    margin-top: 0;
    margin-bottom: 15px;
}

.site-documents-area ul {
    margin-top: 10px;
}

.site-documents-area ul li{
    margin-bottom: 15px;
}

.site-documents-area ul > li::marker {
    font-weight: bold;
} */
.section__title-3{
    font-weight: 200;
    font-size: 2.8rem !important;  
     background-image: linear-gradient(45deg,#3c41d1,#666ad9 39%,#00ffa3 90%);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.section__title-3 span{
    background-image: linear-gradient(45deg,#3c41d1,#666ad9 39%,#00ffa3 90%);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.contact__content h3{
    font-weight: 200 !important;
    font-size: 1.4rem !important; 
}
.contact__content p{
    font-size: 1.2rem !important; 
    line-height:1.3 !important;
    font-weight: 200 !important; 
}
.privacy__item {
    margin-bottom: 30px;
  }
  .privacy__item p {
    color: #fff;
    opacity: 0.5;
    font-size: 1.2rem !important;
  }
  .privacy__item ul {
    padding-left: 15px;
  }
  .privacy__item ul li {
    color: #fff;
    opacity: 0.5;
  }
  .privacy__title {
    font-size: 24px;
    color: #fff;
  }
  .pb-90 {
    padding-bottom: 90px;
}

.pt-110 {
    padding-top: 110px;
}
.mt-20 {
    margin-top: 20px;
}
.mb-2 {
    margin-bottom: 0.5rem!important;
}
.mt-5 {
    margin-top: 3rem!important;
}
.text-base{
    color: #565D6D;
}
.text-2xl{
    font-size: 1.8rem !important;
}
.font-bold{
    font-weight: 200;
}